{% extends "layout.html" %}
{% block content %}
{% if videos %}


<button class="btn btn-block btn-lg btn-info" data-toggle="modal" data-target="#modalupload" data-backdrop="static" data-keyboard="false"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp; &nbsp;Upload</button>
<div style="margin-top: 10px"></div>

<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col" class="col col-2 text-center">Thumbnail</th>
      <th scope="col" class="col col-5">Title</th>
      <th scope="col" class="col col-3 text-center">Last Modified</th>
      <th scope="col" class="col col-2 text-center">Action</th>
    </tr>
  </thead>
  <tbody>
{% for video in videos %}
    <tr>
      <td class="col col-2"><img src="{{ url_for('static', filename='thumbs/'+ video.video_thumb) }}" width="150" height="100" alt="Thumbnail"></td>
      <td class="col col-5">
        <a href="{{ url_for('view_video', video_id=video.id) }}" class="h5 video-link">{{ video.video_title }}</a>
        <br/>
        <p class="video-description-dashboard"><b>Description: </b>{{ video.video_description[:100] }}</p>
    </td>
      <td class="col col-3 text-center">{{ video.modified_time.strftime("%B %d, %Y %I:%M %p") }}</td>
      <td class="col col-2 text-center"><a href="#" class="btn btn-info">Edit</a>&nbsp; &nbsp;<a href="#" class="btn btn-danger">Delete</a></td>
    </tr>
{% endfor %}
</tbody>
</table>
{% else %}
<div class="alert alert-warning" role="alert">
    You don't have uploaded any video! &nbsp; &nbsp;<button class="btn btn-info" data-toggle="modal" data-target="#modalupload" data-backdrop="static" data-keyboard="false"><i class="fa fa-upload" aria-hidden="true"></i>&nbsp; &nbsp;Upload</button>
</div>
{% endif %}
<!-- Modal -->
<div class="modal fade" id="modalupload" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle"><i class="fa fa-upload" aria-hidden="true"></i>
Upload Video</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <form method="POST" action="">
                        {{ form.hidden_tag() }}

                        <div class="form-group">
                            {{ form.video_title.label(class="form-control-label") }}
                            {% if form.video_title.errors %}
                                {{ form.video_title(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.video_title.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.video_title(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.video_link.label(class="form-control-label") }}
                            {% if form.video_link.errors %}
                                {{ form.video_link(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.video_link.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.video_link(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.video_description.label(class="form-control-label") }}
                            {% if form.video_description.errors %}
                                {{ form.video_description(class="form-control is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.video_description.errors %}
                                        <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                            {% else %}
                                {{ form.video_description(class="form-control") }}
                            {% endif %}
                        </div>

                        <div class="form-group">
                            {{ form.submit(class="btn btn-lg btn-block btn-outline-primary text-uppercase") }}
                        </div>

                    </form>
            </div>
            
        </div>
    </div>
</div>
{% endblock %}