{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col col-md-9 col-sm-12">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{ video_id }}?controls=1" allowfullscreen></iframe>
    </div>
    <div class="h5 video-title">{{ video.video_title }}</div>
    <div class="video-description"><b>Descripton: &nbsp;</b>{{ video.video_description }}</div>
</div>

<div class="col col-md-3 col-sm-12">
	<div class="h4 uploader-title">Uploader Info</div>
    Username : {{ video.user.username }}
    Email : {{ video.user.email }}
</div>

</div>
{% endblock %}